.post-list li {
    color: #b5e853;
    display: block;
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", 
        Terminal, monospace;
    font-size: 18px;
    letter-spacing: -0.03em;
    margin: 0px 0px 20px 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 0 5px rgba(181, 232, 83, 0.1),
        0 0 10px rgba(181, 232, 83, 0.1);
}
