<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/StrayBirds/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/StrayBirds/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/StrayBirds/stylesheets/print.css" media="print" />

      <!-- MathJax Section Start -->

        <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script>
            MathJax.Hub.Config({
                  tex2jax: {
                  skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
                  }
            });
            MathJax.Hub.Queue(function() {
                var all = MathJax.Hub.getAllJax(), i;
                for(i=0; i < all.length; i += 1) {
                    all[i].SourceElement().parentNode.className += ' has-jax';
                }
            });
        </script>
      <!-- MathJax Section End -->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <div class="container">
      <section id="main_content">

    <header>
      <div class="container">
        <h1>
            <a href="/StrayBirds/"> 潇湘夜雨 </a>
        </h1>
        <h2></h2>
      </div>
    </header>

{{ content }}

      </section>
    </div>
  </body>
</html>
